.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.horizontal_center {
    display: flex;
    justify-content: center;
}

.caixa {
    background-color: #414141;
    border-radius: 30px;
    padding: 20px;
}

input.botao {
    font-size: 24px;
    border-radius: 15px;
    border-style: solid;
    transition: all 0.3s;
}

input {
    max-width: 100%;
}

input.botao:hover {
    background-color: #848484;
    border-color: #848484;
}

input.botao:active {
    background-color: #444;
}
